.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0% 25%;
  text-shadow: 1px 1px 10px #fff;
  display: flex;
  flex-flow: column nowrap;
  color: black;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
